<app-header></app-header>
<ul class="nav nav-tabs">
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" aria-current="page" routerLink="Home">Home</a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" routerLink="info">Applicant information</a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" routerLink="deceased">Deceased details</a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" routerLink="database">Database</a>
    </li>
    
    <!-- <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" routerLink="">Education of applicant</a>
    </li> -->
  </ul>
